{% extends "base.html" %}
{% block title %}Избранные объявления{% endblock %}

{% block content %}
<br>
<h1>Избранные объявления</h1>
<br>
<div class="favorites-container">
  {% if favorites %}
    {% for favorite in favorites %}
      <div class="favorite-item">
        <h3>{{ favorite.title }}</h3>
        <p>{{ favorite.address }}</p>
        <h4>{{ favorite.price }} ₽</h4>
      </div>
    {% endfor %}
  {% else %}
    <p>У вас нет избранных объявлений.</p>
  {% endif %}
</div>
{% endblock %}