{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rental_ads/css/style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/style_footer.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/style_osnov.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/rentals_categories.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/index_rental.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/rental_manage.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/message_rental.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/rental_add_edit_manage.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/rentals_detail.css' %}">

    <link href="https://fonts.cdnfonts.com/css/century-gothic?styles=24895" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-z+LsWLOx9dQgQ4O1tK9mXHx6qNF9l9pQGK8te68XvvGdQh8zL9aVZk7hV52S9Jy8bLaANf5Y4eu3ChmkXmpymg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    </style>
</head>

<body>
<header id="site-header">
    <div class="top">
        <button class="menu-button"><i class="fas fa-bars"></i></button>
        <form class="search-form" method="get" action="{% url 'rental_search' %}">
            <div class="left">
                <input type="search" class="search-input" placeholder="Поиск" name="query">
                <button type="submit" class="search-button"><i class="fa-solid fa-search"></i></button>
            </div>


        </form>

        <div class="center">
            <a href="/">
                <img src="{% static 'rental_ads/img/logo.png' %}" alt="Логотип" >
                </a>
        </div>
        <div class="right">


            {% if user.is_authenticated %}
                <a href="{% url 'messages' %}" class="far fa-envelope"></a>
                <a href="/rental_manage" class="fa-regular fa-user"></a>
                <a href="/favorites" class="fa-regular fa-heart"></a>
            {% else %}
                <a href="#blackout-login" class="far fa-envelope"></a>
                <a href="#blackout-login" class="fa-regular fa-user"></a>
                <a href="#blackout-login" class="fa-regular fa-heart"></a>
            {% endif %}

        </div>



    </div>
    <div class="bottom">
        <form class="search-form2" method="get" action="{% url 'rental_search' %}">
                <input type="search" class="search-input2" placeholder="Поиск" name="query">
                <button type="submit" class="search-button2"><i class="fa-solid fa-search"></i></button>

            </form>
        <br>
        {% with request.path|lower|slice:":-1" as current_path %}
<!--            <a href="/" class="fa-regular fas far far fa-compass" style="background: {% if '' == current_path %}  white;-->
<!--      color: black;{% endif %}"><font class="bottom-text"></font></a>-->
            <a href="/conferences" class="fas fa-mug-hot" style="background: {% if '/conferences' == current_path %} white; color: black; {% endif %}"><font class="bottom-text"> Конференции</font></a>
            <a href="/wedding" class="fa-regular fas fa-gift" style="background: {% if '/wedding' == current_path %} white; color: black; {% endif %}"><font class="bottom-text"> Свадьбы</font></a>
            <a href="/birthday" class="fa-regular fas fa-glass-cheers" style="background: {% if '/birthday' == current_path %} white; color: black; {% endif %}"><font class="bottom-text"> Дни рождения</font></a>
            <a href="/room" class="far fa-building" style="background: {% if '/room' == current_path %} white; color: black; {% endif %}"><font class="bottom-text"> Помещения</font></a>
            <a href="/corporate" class="fas fa-pizza-slice" style="background: {% if '/corporate' == current_path %} white; color: black; {% endif %}"><font class="bottom-text"> Корпоративы</font></a>
            <a href="/concerts" class="fa-regular fas fa-guitar" style="background: {% if '/concerts' == current_path %} white; color: black; {% endif %}"><font class="bottom-text"> Концерты</font></a>
            <a href="/other" class="far fa-grin-beam-sweat" style="background: {% if '/other' == current_path %} white; color: black; {% endif %}"><font class="bottom-text"> Другие</font></a>
        {% endwith %}
    </div>

</header>
<button onclick="scrollToTop()" id="scrollToTopBtn">↑</button>


{% block content %} {% endblock content %}


<div id="blackout-login">
    <div id="window-login">
        <h2>Авторизуйтесь</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style="font-size: 10px;">{% if message.tags %} {% endif %}{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form id="login-form" method="post" action="/login/">
            {% csrf_token %}
                <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Имя пользователя" required>
                <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Пароль" required>
                <input type="submit" value="Войти" id="login-form-submit" class="close">
                <a href="#blackout-register" class="register-button">Регистрация</a>
        </form>
    <a href="#" class="close fas fa-close"><font style="font-family: 'Century Gothic', sans-serif; font-weight: 400;"> Закрыть окно</font></a>
    </div>
</div>

<div id="blackout-register">
    <div id="window-register">
        <h2>Зарегистрируйтесь</h2>
		<form id="login-form" method="post" action="/register/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Введите имя" required>
            <input type="password" name="password1" id="password-field" class="login-form-field" placeholder="Введите пароль" required>
            <input type="password" name="password2" id="password-field" class="login-form-field" placeholder="Повторите пароль" required>
            <input type="submit" value="Регистрация" class="close" id="login-form-submit"></input>
            <a href="#blackout-login" class="register-button">Вход</a>
        </form>
        {{ form.errors}}
        <a href="#" class="close"><font style="font-family: 'Century Gothic', sans-serif; font-weight: 400;">Закрыть окно</font></a>
    </div>
</div>

<footer class="footer" style="text-align: center;">
    <div class="container">
        <div class="footer-col">
            <h4 style="margin-bottom: 15px; font-size: 16px;">Подпишитесь на нас</h4>
            <div class="social-links">
                <a href="https://vk.com/mixysami"><i class="fa-brands fa-vk"></i></a>
                <a href="https://t.me/mixxxs"><i class="fa-brands fa-telegram"></i></a>
                <a href="https://www.instagram.com/mixysami*"><i class="fab fa-instagram"></i></a>
                <a href="https://www.google.com/intl/ru/gmail/about/"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
        <p style="color: white; margin-top: 15px;">©2023 MEVET | All Rights Reserved</p>
    </div>
</footer>


<script src="https://kit.fontawesome.com/7dd3d9efdc.js" crossorigin="anonymous"></script>
<script>
   document.querySelector('.menu-button').addEventListener('click', function () {
    document.querySelector('header').classList.toggle('menu-open');
    document.querySelector('.bottom').classList.toggle('menu-open');
});
</script>
<script>
window.onscroll = function() {
  scrollFunction();
};

function scrollFunction() {
  if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
    document.getElementById("scrollToTopBtn").style.display = "block";
  } else {
    document.getElementById("scrollToTopBtn").style.display = "none";
  }
}

function scrollToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
</body>
</html>