{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'rental_ads/css/style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/style_footer.css' %}">
    <link rel="stylesheet" href="{% static 'rental_ads/css/style_osnov.css' %}">

    <link href="https://fonts.cdnfonts.com/css/century-gothic?styles=24895" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    </style>
</head>
<body>
<header>
    <nav class="nav2">
        <a href="/" class="fa-solid fa-language" id="google_translate_element"><font class="txtm"> RU</font></a>

        <a href="#zatemnenie" class="fa-solid fa-location-dot"><font class="txtm"> ВОЛГОГРАД</font></a>
        <a href="#zatemnenie" class="fa-solid fa-laptop"><font class="txtm"> СТАНЬТЕ ПРОДАВЦОМ</font></a>
    </nav>
    <div id="head">
        <div class="wrap-logo">
            <nav class="karegoriya_resursov">
                <div title="Menu" id="navigation_leaked">

                    <input type="checkbox">
                    <span></span>
                    <span></span>
                    <span></span>

                    {% with request.path|lower|slice:":-1" as current_path %}
                    <ul id="menyu_sayta">
                        <li>
                            <a href="/"
                               style="text-decoration: {% if '' == current_path %}underline; color: black;{% else %}none{% endif %};">ГЛАВНАЯ
                                СТРАНИЦА</a>
                        </li>

                        <li><a href="/pagefoto"
                               style="text-decoration: {% if '/pagefoto' == current_path %}underline; color: black;{% else %}none{% endif %};">ФОТОСТУДИИ</a>
                        </li>
                        <li>
                            <a href="/svadba"
                               style="text-decoration: {% if '/svadba' == current_path %}underline; color: black;{% else %}none{% endif %};">ОРГАНИЗАЦИЯ
                                СВАДЕБ</a>
                        </li>
                        <li>
                            <a href="/banket"
                               style="text-decoration: {% if '/banket' == current_path %}underline; color: black;{% else %}none{% endif %};">БАНКЕТНЫЕ
                                ЗАЛЫ</a>
                        </li>
                        <li>
                            <a href="/kino"
                               style="text-decoration: {% if '/kino' == current_path %}underline; color: black;{% else %}none{% endif %};">КИНОЗАЛЫ</a>
                        </li>
                        <li>
                            <a href="/kon"
                               style="text-decoration: {% if '/kon' == current_path %}underline; color: black;{% else %}none{% endif %};">ПЛОЩАДКИ
                                ДЛЯ ПРОВЕДЕНИЯ КОНЦЕРОВ</a>
                        </li>
                    </ul>
                    {% endwith %}
                </div>
            </nav>
            <!-- <a href="#"class="fa-solid fa-bars" style=" font-size: 40px;"></a> -->
            <a href="/" class="logo"><img src="{% static 'rental_ads/img/logo.png' %}" height="70px"></a>
            <div id="tp">
                <form method="get" action="{% url 'rental_search' %}">
                    <input type="search" name="query" placeholder="Search rentals...">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

        </div>
        <nav>
<!--            <a href="#zatemnenie" class="fa-regular fa-comment ff" style="font-size: 20px;"><font class="txtm">Чат</font></a>-->
            <a href="/" class="fa-regular fa-file-alt ff" style="font-size: 20px;"><font class="txtm"> Объявления</font></a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="fa-regular fa-user ff" style="font-size: 20px;"><font class="txtm"> Выход</font></a>
            {% else %}
                <a href="#zatemnenie" class="fa-regular fa-user ff" style="font-size: 20px;"><font class="txtm"> Вход</font></a>
            {% endif %}
            <a href="/" class="fa-regular fa-heart ff" style="font-size: 20px;"><font class="txtm"> Избранное</font></a>
        </nav>
    </div>

</header>

{% block content %} {% endblock content %}

</br>
<div id="zatemnenie">
    <div id="okno">
        <p>Авторизуйтесь</p><br>

        <h2>Login</h2>
        <form id="login-form" method="post" action="/login/">
            {% csrf_token %}
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username"
                   required>
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password"
                   required>
            <input type="submit" value="Login" id="login-form-submit" class="close">
            <a href="#zatemnenie2" class="register-button">Register</a>
        </form>
        {{ form.errors}}

        <a href="/" class="close">Закрыть окно</a>
    </div>
</div>

<div id="zatemnenie2">
	      <div id="okno2">
	        <p>Зарегистрируйтесь</p><br>

		<form id="login-form2" method="post" action="/register/">
            {% csrf_token %}
              {{ form.as_p }}
      <input type="text" name="username" id="username-field" class="login-form-field2" placeholder="Введите имя" required>
      <input type="password" name="password1" id="password-field" class="login-form-field2" placeholder="Введите пароль" required>
      <input type="password_confirmation" name="password2" id="password-field" class="login-form-field2" placeholder="Повторите пароль" required>
             <button type="submit" id="login-form-submit">Register</button>
<!--      <input type="submit" value="Register" id="login-form-submit" class="close">-->

    </form>
<p><a href="#zatemnenie">Вход</a></p>
	        <a href="#" class="close2">Закрыть окно</a>
	      </div>
</div>

<footer class="footer">
    <div class="container">

        <div class="footer-col">
            <h4>Подпишитесь на нас</h4>

            <div class="social-links">
                <a href="https://vk.com/mixysami"><i class="fa-brands fa-vk"></i></a>
                <a href="https://t.me/mixxxs"><i class="fa-brands fa-telegram"></i></a>
                <a href="https://www.instagram.com/mixysami*"><i class="fab fa-instagram"></i></a>
                <a href="https://www.google.com/intl/ru/gmail/about/"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>

        <p style="color: white;">©2022 MEVET | All Rights Reserved</p>
    </div>
</footer>
<script src="https://kit.fontawesome.com/7dd3d9efdc.js" crossorigin="anonymous"></script>

</body>
</html>