{% extends "base.html" %}
{% block title %}Избранные объявления{% endblock %}
{% block content %}


<br>
<h1 class="centered-h11">Избранные объявления</h1>

<br>
{% if favorites %}
    <div class="rentals-container">
        {% for favorite in favorites %}
        <div class="rental-item">
            <a href="{% url 'rental_detail' category_name=favorite.rental.category.name rental_id=favorite.rental.id %}" style="text-decoration: none;">
            <img src="{{ favorite.rental.main_image.url }}">
            <h3 style="font-weight: bolder;">{{ favorite.rental.title }}</h3>
            <p>{{ favorite.rental.address|slice:":40" }}{% if favorite.rental.address|length > 40 %}...{% endif %}</p>
            <h4>{{ favorite.rental.price }} ₽</h4>
            </a>
            <button data-favorite-id="{{ favorite.rental.id }}" class="delete-from-favorites fa-regular fa-heart" style="font-size: 16px;">
            <font style="font-family: 'Century Gothic', sans-serif;"> Удалить из избранного</font></button>
        </div>
        {% endfor %}
    </div>
{% else %}
<center>

    <p style="margin-top: 8%; margin-bottom: 13%;">У вас пока нет избранных объявлений! <br> Вы можете найти интересующие вас объявления в категориях на платформе</p>
    </center>
{% endif %}

<!-- При удалении объявления из избранного -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
            $(document).ready(function() {
                $('.delete-from-favorites').click(function() {
                    var favoriteId = $(this).data('favorite-id');
                    var url = '/favorites/remove/' + favoriteId + '/';
                    var favoriteButton = $(this);
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function() {
                            favoriteButton.closest('.rental-item').remove();
                            alert("Удалено из избранного");
                        },
                        error: function() {
                            alert("Произошла ошибка при удалении объявления из избранного");
                        }
                    });
                    return false;
                });
            });
            </script>

{% endblock %}
