{% extends "base.html" %}

{% load static %}

{% block title %}main page{% endblock %}

{% block content %}
<div class="video-bg">
    <video src="{% static 'rental_ads/mp4/vidbg.mp4' %}" type="video/mp4" autoplay muted loop></video>
    <div class="effects"></div>
    <div class="video-bg__content">
        <h1>MEVET</h1>
        <p>Открой новые возможности!</p>
    </div>
</div>

<br>

<center>
    <h1 style="font-size: 40px;">MEVET</h1>
    <p style="font-size: 20px;">Наша компания упрщает жизнь как клиентам, так и арендодателям, продавцам.<br></p>
    <p style="font-size: 20px;">Клиент может найти подходящее помещение для мероприятий.<br> Либо фотостудию или
        организацию по оформлению события и многое другое...<br><br>Самое главное, что все собрано в одном месте. </p>
    <p style="font-size: 20px;"><br>Попробуй MEVET!<br> Это удобно!</p>
</center>
{% endblock %}