{% extends "base.html" %}
{% load static %}
{% block title %}Концертные залы{% endblock %}
{% block content %}
<br>
<div class="title-filter-top">
    <h1 style="font-size: 22px; margin-right: auto;">Концертные залы</h1>
    <div class="ride" style="margin: 0 auto;">
        <p id="display-four" class="display-button fas fa-th active" onclick="toggleColor(1)"></p>
        <p id="display-two" class="display-button fas fa-th-large" onclick="toggleColor(2)"></p>
    </div>

    <p style="margin-left: auto;">
    <form method="GET" action="{% url 'kon' %}">
  <select name="filter" class="filter" onchange="this.form.submit()">
    <option value="r1" {% if selected_filter == 'r1' %}selected{% endif %}>По новизне</option>
    <option value="r2" {% if selected_filter == 'r2' %}selected{% endif %}>По популярности</option>
    <option value="r3" {% if selected_filter == 'r3' %}selected{% endif %}>Цена А-Я</option>
    <option value="r4" {% if selected_filter == 'r4' %}selected{% endif %}>Цена Я-А</option>
  </select>
</form>
</p>

</div>
<br>
<div class="rentals-container">
    {% for rental in rental_list %}
    <div class="rental-item" href="{% url 'rental_detail' category_name=rental.category.name rental_id=rental.id %}">
        <a href="{% url 'rental_detail' category_name=rental.category.name rental_id=rental.id %}" style="text-decoration: none;">
            <img src="{{ rental.main_image.url }}">
            <h3 style="font-weight: bolder;">{{ rental.title }}</h3>
            <p>{{ rental.address|slice:":40" }}{% if rental.address|length > 40 %}...{% endif %}</p>
            <h4>{{ rental.price }} ₽</h4>
            </a>
           <button class="add-to-favorites fa-regular fa-heart" style="font-size: 16px;"> <font style="font-family: 'Century Gothic', sans-serif;">Избранное</font></button>
    </div>
    {% endfor %}
</div>

<script>

  var displayOne = document.getElementById("display-four");
var displayTwo = document.getElementById("display-two");

// Назначаем обработчики событий для элементов
displayOne.addEventListener("click", function () {
    displayOne.classList.add("active");
    displayTwo.classList.remove("active");
});

displayTwo.addEventListener("click", function () {
    displayTwo.classList.add("active");
    displayOne.classList.remove("active");
});

   const rentalItems = document.querySelectorAll(".rental-item");
    const displayFourButton = document.getElementById("display-four");
    const displayTwoButton = document.getElementById("display-two");

    // Функция для отображения 3 объявлений в ряд
    const displayFourItems = () => {
        rentalItems.forEach(item => {
            item.style.width = "30%";
            item.style.height = "440px";

        });

    };

    // Функция для отображения 2 объявлений в ряд
    const displayTwoItems = () => {
        rentalItems.forEach(item => {
            item.style.width = "46%";
            item.style.height = "550px";
        });
    };

    // Обработчики событий для кнопок
    displayFourButton.addEventListener("click", () => {
        displayFourItems();
    });

    displayTwoButton.addEventListener("click", () => {
        displayTwoItems();
    });

    rentalItems.forEach(item => {
        const button = item.querySelector(".add-to-favorites");
        button.style.transform = "translateY(30%)"; /* Изначально скрываем кнопку */
        item.addEventListener("mouseenter", () => {
            button.style.transform = "translateY(0)";
        });
        item.addEventListener("mouseleave", () => {
            button.style.transform = "translateY(30%)";
        });
        button.addEventListener("click", () => {
            button.classList.toggle("added-to-favorites");
        });
    });

</script>
{% endblock %}
