{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="centered-h11">Переписка на объявлении "{{ rental.title }}"</h1>
<br>
  <div class="message-container">

    {% for message in messages %}
      <div class="message">
        <p style="color: #5181B8;">{{ message.sender.username }}</p>
        <p style="font-size:13px;">{{ message.message }}</p>
      </div>
    {% empty %}
      <p>Нет сообщений</p>
    {% endfor %}
  </div>

  <div class="message-form">
  <form method="post" action="{% url 'send_message' rental_id=rental.id %}">
    {% csrf_token %}
    <div class="form-content">
      <textarea name="message" rows="2" cols="50"></textarea>
      <button type="submit" class="submit-button"><i class="fa fa-paper-plane"></i></button>
    </div>
  </form>
</div>
<br><br>

{% endblock %}
