{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="Osn">
    <div class="oneP">
        {% if rental.main_image %}
        <img src="{{ rental.main_image.url }}" class="main_img_rental_detail">
        {% endif %}
        <div class="dynamic">
            {% for image in rental.images.all %}
            <img src="{{ image.image.url }}" class="rental_img_rental_detail">
            {% endfor %}
        </div>
    </div>

    <div class="twoP">
        <h1>{{ rental.title }}</h1>
        <br>
        <p class="spc">Цена:</p>
        <p>{{ rental.price }} ₽</p>
        <br>
        <p class="spc">Связь с организатором:</p>
        <p>{{ rental.contact }}</p>
        <br>
        <p class="spc">Местоположение:</p>
        <p>{{ rental.address }}</p>
        <br>
        <button class="add-to-favorites fa-regular fa-heart " style="font-size: 20px;"> Добавить в избранное</button>
    </div>
</div>
<div class="threeP">
    <h2>Описание:</h2>
    <p>{{ rental.description }}</p>
</div>


<script>
  // выбираем все изображения на странице
  const images = document.querySelectorAll('img');
  
  // добавляем обработчик событий для каждого изображения
  images.forEach((image) => {
    image.addEventListener('click', (event) => {
      // создаем новый элемент для увеличенного изображения
      const zoomedImage = document.createElement('div');
      zoomedImage.style.position = 'fixed';
      zoomedImage.style.top = '0';
      zoomedImage.style.left = '0';
      zoomedImage.style.width = '100%';
      zoomedImage.style.height = '100%';
      zoomedImage.style.backgroundColor = 'rgba(0,0,0,0.8)';
      zoomedImage.style.display = 'flex';
      zoomedImage.style.justifyContent = 'center';
      zoomedImage.style.alignItems = 'center';
      
      // создаем элемент изображения для увеличенного изображения
      const zoomedImg = document.createElement('img');
      zoomedImg.src = image.src;
      zoomedImg.style.maxWidth = '90%';
      zoomedImg.style.maxHeight = '90%';
      
      // добавляем изображение в элемент для увеличенного изображения
      zoomedImage.appendChild(zoomedImg);
      
      // добавляем элемент для увеличенного изображения в DOM
      document.body.appendChild(zoomedImage);
      
      // удаляем элемент для увеличенного изображения при клике на него
      zoomedImage.addEventListener('click', (event) => {
        zoomedImage.remove();
      });
    });
  });


</script>

{% endblock %}
