@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/* Rental detail */


 .backpho {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden; /* Ensures the image doesn't overflow */
    }

    .backpho .photoback {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        filter: blur(30px); /* Apply blur effect */
        background-color: rgba(0, 0, 0, 0.8); /* Apply dark overlay */
    }

    .backpho::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* Apply dark overlay */
    }
.Osn {
    margin: 2%;
    display: flex;
    width: 95%;


}

.oneP {
	margin-top: 110px;
    width: 63%;
}
.twoP {
    position: sticky;
    top: 16%;
    width: 37%;
    max-height: calc(170vh - 700px); /* Добавляем высоту элемента */
    overflow: auto; /* Добавляем прокрутку, если содержимое выходит за пределы элемента */
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление для элементов внутри */
    align-items: flex-start; /* Выравниваем элементы внутри по левому краю */
    padding: 20px; /* Добавляем отступы вокруг содержимого */
    box-sizing: border-box; /* Учитываем отступы внутри размеров элемента */


}

.twoPob {

    /*background-color:#F5F5F5;*/
    background-color:white;
    border-radius: 15px;
    padding:3%;
    width: 100%;


}

.stpob{
 width: 90%;
}

.twoP h1{
	font-size: 40px;
}

.cpf{
	font-size: 16px;
}



/*main картинка*/
.main_img_rental_detail {
    cursor: pointer;
    border:solid 1px white;
	width: 90%;
	transition:width 0.5s ease;
	border-radius: 15px;
}

.dinamic {
	display: flex;
}
/*rental картинки*/
.rental_img_rental_detail {
    cursor: pointer;
    border:solid 1px white;
    margin-top: 0.5%;
    width: 29.6%;
    height: 150px;
    object-fit: cover;
	transition:width 0.5s ease;
	border-radius: 15px;
}


.spc{
font-size: 20px;
	font-weight: bolder;
}



/*кнопка-добавить в избранное в rental_details*/
.add-to-favorites-rental {
    background-color: transparent;
    color: black;
    border-radius: 0.6em;
    border: 1px solid black;
    padding: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-favorites-rental:hover, .add-to-favorites-rental:focus {
    color: white;
    background-color: black;
}


.textarea-detail {
width: 95%;
    padding: 13px;
    font-size: 16px;
    height: 45px;
    border: 1px solid white;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.3);
}

.button-textarea-detail {
    margin-top: 1%;
    background-color: transparent;
    color: black;
    border-radius: 20px;
    border: 1px solid white;
   box-shadow:4px 4px 10px rgba(0,0,0,0.3);
    padding: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-textarea-detail:hover, .button-textarea-detail:focus {
    color: white;
    background-color: black;
}


.rewiews-person{
    color: black;
    font-weight: bolder;
    font-size:16px;
}


.rewiews-message{
    font-size:14px;
}

.rewiews-date{
    font-size:9px;
}

.rewiews-container{
    width: 100%;
    padding: 5px;
    padding-left: 2%;
    box-shadow:4px 4px 10px rgba(0,0,0,0.3);
    border-radius:17px;


}


/* Медиа-запрос для смартфонов */
@media only screen and (max-width: 767px) {
    .Osn {
        flex-direction: column-reverse;
        width: 100%;
    }

    .oneP {
        width: 100%;
        margin-top: 2%;
        padding: 5px;

    }

    .twoP {
        margin-top: 70px;
        width: 100%;
        position: relative;
        top: 0;
        padding: 5px;

    }

    .twoPob {

    /*background-color:#F5F5F5;*/
    background-color:white;
    border-radius: 15px;

    width: 100%;



}

/*main картинка*/
.main_img_rental_detail {
    cursor: pointer;
    border:solid 1px white;
	width: 100%;

	transition:width 0.5s ease;
	border-radius: 15px;
}

.dinamic {
	display: flex;
	width: 100%;
}
/*rental картинки*/
.rental_img_rental_detail {
    cursor: pointer;
    border:solid 1px white;
    margin-top: 0.5%;
    width: 32%;
    height: 150px;
    object-fit: cover;
	transition:width 0.5s ease;
	border-radius: 15px;
}

.cpf{
	font-size: 13px;
}
.spc{
    font-size: 16px;
}

}