/*Rental_manage*/

.button-change {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.ride2 {
    margin-left: 2%;
}

.ride2 p {
    padding: 10px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}

.ride2 p:hover {
    color: black;
}

.ride2 p.active {
    color: black;
}
.add-rental-button{
    text-decoration: none;
    padding: 8px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    border: solid 1px white;
    transition: all 0.2s ease-in-out;

}

.add-rental-button:hover{
    border-radius: 10px;
	border: solid 1px black;
    background-color: white;
    color:  black;

}

.exit-rental-button{
    text-decoration: none;
    padding: 8px;
    border: none;
    border-radius: 25px;
    color: white;

    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    border: solid 1px white;
    transition: all 0.2s ease-in-out;

}

.exit-rental-button:hover{
    border-radius: 10px;
	border: solid 1px black;
    background-color: white;
    color:  black;

}

.edit-rental-button{
    text-decoration: none;
    padding: 8px;
    border: none;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: solid 1px white;
    transition: all 0.2s ease-in-out;

}

.edit-rental-button:hover{
    border-radius: 10px;
	border: solid 1px black;
    background-color: #3a3a3a;
    color:  white;
}

.remove-rental-button{
    text-decoration: none;
    padding: 8px;
    border: none;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: solid 1px white;
    transition: all 0.2s ease-in-out;

}

.remove-rental-button:hover{
    border-radius: 10px;
	border: solid 1px white;
    background-color: red;
    color:  white;
}







/*Форма для добавления*/
/* Add some spacing between form elements */
.form-container {
display: flex;
margin-left: 3%;
}

.form-style-add-rental {

width: 80%;
padding: 2%;
border-radius: 25px;
height: auto;
box-shadow:40px 40px 30px rgba(0,0,0,0.06);
background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(13px);
}

.form-group{
display: flex;
align-items: center;
}

/* Style form labels */
.form-group label {

color: white;
  font-weight: bold;
  margin-right: -1%;

}

/* Style form inputs */
.form-group input[type="text"] {
  width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}

.form-group input[type="number"] {
  width: 30%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}

.form-group input[type="file"] {
  width: 30%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}

.form-group textarea {
  width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}



.form-group select {
  width: 30%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    margin-left: 3%;

}

/* Style submit button */
.button-submit-form-add {
  width: 50%;
  height: 47px;
    padding: 8px;
    border: none;
    border-radius: 25px;
    color: #3a3a3a;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    border: solid 1px white;
}

/* Change button background on hover */
.button-submit-form-add:hover {
  border-radius: 10px;
	border: solid 1px white;
    background-color: #3a3a3a;
    color:  white;
}



.form-group-edit-rental{
}

.form-group-edit-rental label {

color: white;
  font-weight: bold;
  margin-right: -1%;

}



.form-group-edit-rental input[type="file"] {
  width: 30%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}




.new-messages-count {
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}

.textarea-detail {
width: 90%;
    padding: 13px;
    font-size: 16px;
    height: 90px;
    border: 1px solid black;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.button-textarea-detail {
    background-color: transparent;
    color: black;
    border-radius: 0.6em;
    border: 1px solid black;
    padding: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-textarea-detail:hover, .button-textarea-detail:focus {
    color: white;
    background-color: black;
}