



@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');






/* Rental detail */
.Osn {
    margin: 2%;
	display: flex;
	width: 90%;
}
.oneP {
	padding-top: 1.5%;
    width: 50%;
}
.twoP {
	width: 50%;
}

.twoP h1{
	font-size: 50px;
}

.twoP p{
	font-size: 20px;
}

.threeP{
	margin: 2%;
	width: 90%;
}

/*main картинка*/
.main_img_rental_detail {
    cursor: pointer;
    border: solid 2px gray;
	width: 91.1%;
	transition:width 0.5s ease;
}

.dinamic {
	display: flex;
}
/*rental картинки*/
.rental_img_rental_detail {
    cursor: pointer;
    border: solid 2px gray;
    width: 30%;
	transition:width 0.5s ease;
}


.spc{
	font-weight: 1000;
}



/*кнопка-добавить в избранное в rental_details*/
.add-to-favorites-rental {
    background-color: transparent;
    color: black;
    border-radius: 0.6em;
    border: 1px solid black;
    padding: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-favorites-rental:hover, .add-to-favorites-rental:focus {
    color: white;
    background-color: black;
}




