

* {box-sizing: border-box;}

body { 
  margin: 0;
  
}

header {
  
/*  background-color: #808080;*/
  padding: 20px 10px;
  background: url("../img/fonmenu.jpg");
  background-size: cover;
/*  background-size: contain;*/
  background-position: center;

  


}


/*нижнее меню*/
#head{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;


}

.wrap-logo {

  display: flex;
  align-items: center;
  color: #212121;
  padding: 15px;

 
}

#head a {
  color: white;


  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;

text-decoration: none;

transition: width 0.3s ease-out;

}

#head a.logo {
  font-size: 45px;
  font-weight: bold;
  
  margin-left: 10%;
transition: width 0.3s ease-out;
  
}


.ff:after {
	display: block;
/*	position: absolute;*/
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	border-radius: 3px;
	margin-top: 5px;
	height: 3px; /*задаём ширину линии*/
	background-color: red; /*задаём цвет линии*/

	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

#head a:hover{
color: red;
}

.ff:hover:after,
.ff:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/

}



/*#head a:hover {
  background-color: #FBC02D;
  color: #212121;
}*/

/*head a.active {
  background-color: #FBC02D;
}*/

nav {
  display: flex;
  align-items: center;
/*  height: 80px;*/
  }

/*верхнее меню-------------------------------------*/
.nav2{
	display: flex;
  align-items: center;
  height: 30px;
}
.nav2 a {
  color: #212121;
  padding: 7px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 13px; 
  border-radius: 20px;
/*  background-color: white;*/

/*  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);*/
	/*background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur*/

  border: 1px solid #fff;
color: #EBEBEB;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.nav2 a:hover {
  background: #fff;
  color: #333;
}

.txtm{
	font-family: 'Century Gothic', sans-serif;
}


 

.prod {
	border-radius: 30%;
	background: rgba(255,245,215,.5);
	text-align: center;
}

/*Поисковая строка-----------------------------------*/
#tp form{
    position: relative;
    top: 30%;
    left: 55%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 400px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

#tp input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

#tp .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#tp form:hover{
    width: 500px;
    cursor: pointer;
}

#tp form:hover input{
    display: block;
}

#tp form:hover .fa{
    background: #07051a;
    color: white;
}

#tp {
  margin-top: 6%;
  margin-left: 20%;
}


/*Выпадающее меню-----------------------------------------*/
.navigatsiya_protala { 
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 40vh; 
  width:50%; 
  min-width: 400px; 
  height: 60px; 
  margin: 0 auto; 
} 



#navigation_leaked{ 
  display: block; 
/*  position: fixed; */
  top: 150px; 
  left: 60px; 
  z-index: 1; 
  -webkit-user-select: none; 
  user-select: none; 
} 

#navigation_leaked input{ 
  display: block; 
  width: 50px; 
  height: 60px; 
  position: absolute; 
  top: 70px; 
  left: 30px; 
  cursor: pointer; 
  opacity: 0; 
  z-index: 2; 
  border: solid 2px white;
  -webkit-touch-callout: none; 
} 

#navigation_leaked span{ 
  display: block; 
  width: 40px; 
  height: 6px; 
  margin-bottom: 5px; 
  position: relative; 
  background: #ECF0F1; 
  border-radius: 5px; 
  z-index: 1; 
  transform-origin: 3px 0px; 
  transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
  opacity 0.55s ease; 
} 



#navigation_leaked input:checked ~ span{ 
  opacity: 1; 
/*  transform: rotate(45deg) translate(-2px, -1px); */
  background: #E74C3C; 
} 


#menyu_sayta{ 
  position: absolute; 
  width: 90vw; 
  height: 110vh; 
  margin: -100px 0 0 -50px; 
  padding: 50px; 
  padding-top: 125px; 
  background: rgba(236, 240, 241, 0.97);; 
  list-style-type: none; 
  transform-origin: 0 0; 
  transform: translate(-100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  text-align: center; 

} 

#menyu_sayta li{ 
  padding: 15px 0; 
  color: #000000; 
  list-style-type: none; 
  font-size: 2em; 
  font-weight: 300; 
} 

#menyu_sayta li a { 
  color: #E74C3C; 
  text-decoration: none; 
  text-transformation: uppercase 
} 

#menyu_sayta li a:hover { 
  color: #2C3E50; 
  text-decoration: none; 
} 

#navigation_leaked input:checked ~ ul 
{ 
  transform: scale(1.0, 1.0); 
  opacity: 1; 
}

#zatemnenie {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #okno {
        width: 300px;
        height: 250px;
        text-align: center;
        padding: 15px;
        border: 1px solid black;
        border-radius: 10px;
        color: black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: white;
      }
      #zatemnenie:target {display: block;}
      .close {
        display: inline-block;
        border: 1px solid black;
        border-radius: 10px;
        color: black;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;
      }
      .close:hover {background: red; color: white;}





      #main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}


