



@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');





/*Главная страница*/

.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index:-1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}
.video-bg__content {
    z-index: -1;
    color: #ffffff;
    font-size: 50px;

}
.main {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
}

/* Вывод карточек с объявленями*/
.title-filter-top {
    margin-left: 3%;
    margin-right: 3%;

    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;

}

 .ride p {
    padding: 10px;
    color: gray;
    font-size: 20px;
    cursor: pointer;
}

.ride p:hover {
    color: black;
}

.ride p.active {
    color: black;
}

.filter {
width: 100%;
    padding: 6px;
    border: none;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-family: 'Century Gothic', sans-serif;
    border: solid 0.5px black;
}

.rentals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.rental-item {
    width: 30%;
    height: 440px;
    margin: 1%;
    margin-bottom: 6px;
    transition: 0.3s;
}

.rental-item:hover {
    box-shadow: 0px 40px 40px 0px rgba(0,0,0,0.2);
    /*border-radius: 0px 0px 15px 15px;*/
    opacity: 95%;
    transform: translateY(-10px);
}

.rental-item img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-bottom: 3px;
}

.rental-item h3 {
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    font-size: 17px;
    margin-bottom: 5px;
}

.rental-item p {
    padding-left: 1%;
    padding-right: 1%;
    color: gray;
    font-size: 15px;
    margin-bottom: 5px;
}

.rental-item h4 {
    padding-left: 1%;
    padding-right: 1%;
    align: bottom;
    color: black;
    font-size: 17px;
    margin-bottom: 4px;
}

.add-to-favorites {
    background-color: white;
    color: white; /* Изменяем цвет текста на белый */
    border-radius: 0.7em;
    padding: 3px;
    margin-left:1%;
    border: none;
    cursor: pointer;
    font-family: 'Century Gothic', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease; /* Добавляем transition для цвета */
    transform: translateY(100%);
}

.rental-item:hover .add-to-favorites {

    color: black; /* Изменяем цвет текста на черный при наведении */
}


.added-to-favorites {
    border-radius: 8px;
	border: solid 1px black;
    color: black;
}




/* Rental detail */
.Osn {
    margin: 2%;
	display: flex;
	width: 90%;
}
.oneP {
	padding-top: 1.5%;
    width: 50%;
}
.twoP {
	width: 50%;
}

.twoP h1{
	font-size: 50px;
}

.twoP p{
	font-size: 20px;
}

.threeP{
	margin: 2%;
	width: 90%;
}

/*main картинка*/
.main_img_rental_detail {
    cursor: pointer;
    border: solid 2px gray;
	width: 91.1%;
	transition:width 0.5s ease;
}

.dinamic {
	display: flex;
}
/*rental картинки*/
.rental_img_rental_detail {
    cursor: pointer;
    border: solid 2px gray;
    width: 30%;
	transition:width 0.5s ease;
}


.spc{
	font-weight: 1000;
}

/*кнопка-добавить в избранное в rental_details*/
.add-to-favorites-rental {
    background-color: transparent;
    color: #e74c3c;
    border-radius: 0.6em;
    border: 2px solid #e74c3c;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-favorites-rental:hover, .add-to-favorites-rental:focus {
    color: white;
    background-color: #e74c3c;
}





/*Форма для добавления*/
/* Add some spacing between form elements */
.form-container {
display: flex;
justify-content: center;
}

.form-style-add-rental {

width: 80%;
padding: 2%;
border-radius: 25px;
height: auto;
box-shadow:40px 40px 30px rgba(0,0,0,0.06);
background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(13px);
}

.form-group{
display: flex;
align-items: center;
}

/* Style form labels */
.form-group label {

color: white;
  font-weight: bold;
  margin-right: -1%;

}

/* Style form inputs */
.form-group input[type="text"] {
  width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}

.form-group input[type="number"] {
  width: 30%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}

.form-group input[type="file"] {
  width: 30%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}

.form-group textarea {
  width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);


}

.form-group select {
  width: 30%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    margin-left: 3%;

}

/* Style submit button */
.button-submit-form-add {
  width: 30%;
    padding: 8px;
    border: none;
    border-radius: 25px;
    color: #3a3a3a;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    border: solid 1px white;
}

/* Change button background on hover */
.button-submit-form-add:hover {
  border-radius: 10px;
	border: solid 1px white;
    background-color: #3a3a3a;
    color:  white;
}








