* {box-sizing: border-box;}

body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column; /* Добавляем свойство, чтобы меню располагались один под другим */
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(13px);
    /*border-radius: 0px 0px 8px 8px;*/
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.top { /*Верхнее меню*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.left { /*Левая часть верхнего меню*/
    display: flex;
    align-items: center;
}

.search-form {
	margin-left: -1%;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;

}

.search-button {
    background-color: gray;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-button:hover {
    background-color: white;
    color: black;
}

.center { /*Центральная часть верхнего меню*/
    text-align: center;
}

.center img {
	margin-right: 6%;
    max-width: 25%;
}

.right { /*Правая часть верхнего меню*/
    display: flex;
    align-items: center;
}

.right a {
	transition: all 0.2s ease-in-out;
    margin-left: 45px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.right a:hover {
  	color: red;
}

.bottom { /*Нижнее меню*/
    display: flex;
    justify-content: center; /* Стили для меню, чтобы оно располагалось справа */
    width: 100%;
    max-width: 1200px;
    margin-top: 14px;
}

.bottom a {
	color: white;
	font-size: 13px;
    margin: 0 15px;
    text-decoration: none;
    padding: 7px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.bottom a:hover {
	background: #fff;
  	color: #333;
}

.bottom-text{
    font-size: 13px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: normal;
}

.menu-button {
    display: none; /* Скрыть кнопку на десктопных устройствах */
    z-index: 9999;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 27px;
    cursor: pointer;

}

.search-form2 {
display: none; /* Скрыть кнопку на десктопных устройствах */
	margin-left: -1%;

    align-items: center;
}

.search-input2 {

    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;

}

.search-button2 {

    background-color: gray;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-button:hover2 {

    background-color: white;
    color: black;
}

/* Анимация выдвижения */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Медиа-запрос для смартфонов */
@media only screen and (max-width: 767px) {
    header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column; /* Добавляем свойство, чтобы меню располагались один под другим */
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(13px);
    /*border-radius: 0px 0px 8px 8px;*/
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.top {
        justify-content: space-between;
        align-items: center;

    }

.left {
        display: none; /* Скрыть правую часть верхнего меню на смартфонах */
    }

.center { /*Центральная часть верхнего меню*/
    text-align: left;
}

.center img {
    margin-top:1%;
	margin-right: 6%;

    max-width: 160px;
}

.right { /*Правая часть верхнего меню*/
    display: flex;
    align-items: center;
    padding-right: 2%;
}

.right a {
    font-size: 23px;
	transition: all 0.2s ease-in-out;
    margin-left: 35px;
    text-decoration: none;
    color: white;

}

.right a:hover {
  	color: red;
}



    .bottom {
        position: fixed;
        top: -24%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(13px);
        transform: translateX(-100%);
        animation: slideOut 0.3s ease-in-out forwards;
        flex-direction: column;
        align-items: left;
        padding: 10px;
        z-index: 999;
    }

    .bottom a {
	    color: white;
	    width: 70%;
	    font-size: 32px;
        text-decoration: none;
        padding: 7px;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;
}

.bottom-text{
    font-size: 24px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: normal;
}



    .menu-button {
        display: block; /* Показать кнопку меню на смартфонах */
    }

    .menu-open .bottom {
        transform: translateX(0);
        animation: slideIn 0.3s ease-in-out forwards;
    }

    .menu-open .menu-button {
        color: red; /* Изменить цвет кнопки меню при открытом меню */
    }



    .search-form2 {
        display: flex; /* Скрыть кнопку на десктопных устройствах */
	    margin-left: 5%;
        align-items: center;
}

.search-input2 {
    padding: 15px;
    border: none;
    width: 60%;
    border-radius: 40px;
    margin-right: 5px;
    font-size: 20px;

}

.search-button2 {
    background-color: gray;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 15px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-button2:hover {
    background-color: white;
    color: black;
}



}






/*Форма Логина и регистрации*/

#blackout-login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#window-login {
    width: 300px;
    height: 320px;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(13px);
    font-family: 'Century Gothic', sans-serif;
}

#blackout-login:target {display: block;}

.close {
    display: inline-block;
    color: white;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}

.close:hover {
	color: red;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field {
    border: none;
    color: #3a3a3a;
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    outline: none;
    padding: 10px;
    width: 80%;
    transition: all 0.2s ease-in-out;
}

.login-form-field:active{
	width: 85%;
}

#login-form-submit {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: #3a3a3a;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    border: solid 1px white;
}

#login-form-submit:hover {
	border-radius: 25px;
	border: solid 1px white;
    background-color: #3a3a3a;
    color:  white;
}

.register-button{
	width: 70%;
	border-radius: 10px;
	color: white;
	padding: 8px;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	font-family: 'Century Gothic', sans-serif;

}
.register-button:hover {
    border-radius: 25px;
    background-color: white;
    color:   #3a3a3a;
}

/*Форма Registr*/
#blackout-register {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     display: none;
}

#window-register {
     width: 300px;
     height: 370px;
     text-align: center;
     padding: 15px;
     border-radius: 25px;
     color: white;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     margin: auto;
     background-color: rgba(0, 0, 0, 0.6);
     backdrop-filter: blur(13px);
     font-family: 'Century Gothic', sans-serif;
}

#blackout-register:target {display: block;}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 9999;
}





